<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <p>
      Earls offers a captivating dining experience, blending traditional Indian flavors with a modern twist in a warm, inviting atmosphere.
      </p>
      <p>
      At Earls guests are treated to an exquisite journey through Indian culinary heritage, with each dish artfully crafted to merge authentic Indian spices and ingredients with contemporary culinary techniques, all served in an elegantly designed space that captures the essence of India rich cultural mosaic.
      </p>
      <p>
        We have a wide variety of dish menu available for purchase on our website. Whether you are looking to order something snacky or delicious meal, we have the perfect menu for you. We also carry a selection of delicious dishes.
      </p>
    </div>
  </header>

  <div class="products">
    <%= render @products %>
  </div>
</section>
<%= paginate @products %>